div{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px groove #FF0000;
    background-image: url("img/Mohsen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}