body{
    background-color: #d2ebfc;
}
div{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px groove #FF0000;
    background-image: url("img/Mohsen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    /*look as margin in inspect element when display properties is changed*/
    display: block;
}
img{
    width: 350px;
    border: 5px dashed green;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    /*margin: 10px 30px 20px 40px;*/
    /*margin: 20px auto;*/
    display: inline-block;
}