div
{
    width: 100px;
    height: 100px;
    border: solid red;
    border-radius: 100%;
    background-image: url("../009-relative_urls/AC.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tt
{
    width: 100px;
    height: 100px;
    border: red groove 5px;
    border-radius: 100%;
    background-image: url("../009-relative_urls/img/AC.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    border: 15px groove chocolate;
}

.lioneone {
    border: 15px solid chocolate;
}

.lionetwo {
    border: 15px dot-dash chocolate;
}

.lionethree {
    border: 15px double chocolate;
}

.lionefour {
    border: 10px dotted chocolate;
}

.AC
{
    border: red solid 10px;
    border-radius: 100%;
}